<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
  </apikeys>
  <packageSourceCredentials>
    <Repo.NET>
      <add key="Username" value="%REPO_USER%" />
      <add key="ClearTextPassword" value="%REPO_PASS%" />
    </Repo.NET>
  </packageSourceCredentials>
  <packageSources>
    <add key="Repo.NET" value="%REPO_URL%" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
